#lista{
  background-color: rgb(65, 63, 63);
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#lista li{
  width: 270px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#lista li img {
  width: 200px;
  height: 200px;
  max-width: 90%;
  border-radius: 10px;
}

#lista li span{
  display: block;
  font-weight: bold;
}

#titulo{
  display: block;
  text-align: center;
  background-color:  rgb(65, 63, 63);
  color: black;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}